/*
 * Lay this page out - make it responsive, use grid, flex, position and media queries where needed.
 *
 * Colors-
 * Green: #14a96d
 * White: #fff
 * Light gray: #f4f5f6
 * Border gray: #cfd7de
 * Dark text: #1b1f23
 * Lighter text: #66727c
 * Blue for links: #06748a
 * Blue for hovered links: #033641
 */

/* Globals */
body {
  /* margin: 0; */
  font-family: 'Cabin', sans-serif;
}
 .rover-hp-container{

}
.rover-header-container{
  justify-content: space-between;
  margin: 0;
  border: 2px solid #cfd7de;
  /* background-color: #f4f5f6; */
  height: 7em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.rover-header-left{
  display: inline-flex;
  /* justify-content: space-between; */
  padding-top: 2em;
  padding-bottom: 2em;
}
.rover-header-image{
  /* display: inside; */
  width: 17%;
  height: 16%;
  margin-left: 5em;
  margin-top: 16px;
}
.rover-header-link{
  /* display: flex;
  justify-item:inline-flex;
  justify-content: space-between; */
  text-decoration: none;
  color: #1b1f23;
  padding: 2em;
}
.rover-header-right{
  /* position: absolute; */
  right: 11%;
  top: 11%;
}
.rover-header-right-mobile{
  /* display: none; */
  border: 2px solid #cfd7de;
  background-color: #f4f5f6;
}
.rover-hero-container{
  background-image: url("../img/hero.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
}
.rover-hero-title{
  position: relative;
  margin-left: 10%;
  margin-top: 15%;
  color: #66727c;
}
.rover-hero-para{
  margin-left: 10%;
  word-spacing: 3px;
  font-size: larger;
  margin-top: 1%;
}
.rover-button{
  background-color: #14a96d;
  border: none;
  color: #fff;
  padding: 15px 32px;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  /* margin: 40px 2px; */
  margin-left: 10%;
  margin-top: 6%;
}
.rover-cta:hover{
  background-color: #033641;
  border: none;
  color: #fff;
  padding: 15px 32px;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  /* margin: 40px 2px; */
  margin-left: 10%;
  margin-top: 6%;

}
.rover-cta-mobile:hover{
  background-color: #033641;
  border: none;
  color: #fff;
  padding: 15px 32px;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  /* margin: 40px 2px; */
  margin-left: 10%;
  margin-top: 6%;
}
.rover-middle-section{
  /* position: absolute; */
  /* margin-top: 40%;
  width: 90%;
  display: grid;
  justify-content: center; */
  text-align: center;
  margin-top: 55%;

}
h2{
  
    position: center;
    /* font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold; */
}
/* .center{
  text-align: center;
} */
.rover-mobile-hero-container{

}
.rover-mobile-hero{

}
.rover-two-boxes-container{
  display: grid;
  grid-template-columns: 50% 50%;
  

}
.rover-facts-container{

}
.rover-fact-indiv{

}
.rover-fact-indiv-{

}
.rover-fact-indiv-2{

}
.rover-fact-indiv-3{

}
.rover-fact-indiv-4{

}
.rover-fact-indiv-5{

}
.rover-cta-box{

}
.rover-cta-container{

}
.rover-cta-header{

}
.rover-cta-bottom-container{

}
.rover-facts{

}
.rover-cta{

}
.rover-protections{

}
.rover-action-shot{
  background-image: url(../img/lady-with-her-dogs.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;

}
.rover-action-quote-container{
  border: 2px solid  #cfd7de;
  /* margin: 40% ; */
  margin-bottom: 150px;
  width: 30%;
  height: 300px;
  margin-left: 10%;
  position: absolute;
  font-size: x-large;
  padding-left: 30px;
  padding-top: 4%;
  background-color: #f4f5f6;
  word-spacing: 4px;
}
  /* padding-right: 70px;
  padding-bottom:100px; */ */
  /* margin:auto; */
.rover-action-dash{


}
.rover-quote::before{
  content: open-quote;
  
}
.rover-quote::after{
  content: close-quote;
}
.rover-quote{
  quotes: "“" "”" "‘" "’";
}
.light-gray{
  color: gray;
}
.rover-action-green{
  text-decoration: none;
  color: #06748a;
}
.rover-123-container{

}
.rover-123-container-title{

}
.rover-123-item-container{

}
.rover-123-item{

}


/* rover mobile view (max-width 600px) */
@media screen and (max-width: 600px) {
  .rover-header-link{
    display: none;
  }
  .rover-header-image{
    display: none;

  }
  .rover-hero-title{
    display: none;
  }
  .rover-button .rover-cta{
    display: none;
  }
  /* .rover-cta{
    display: none;
  } */
}
  
/* rover web view (min-width: 680px) */
@media screen and (min-width:680px) {
  .rover-header-right-mobile{
    display: none;
  }
  .rover-button .rover-cta-mobile{
    display: none;
  }
  .rover-mobile-hero{
    display: none;
  }
}
